
    .main{
        height: 100vh;
    }

    .sidebar{
        background-color: #333;
        color: #fff;
    }
    .sidebar a{
     text-decoration: none;
        display: block;
        color:#fff;
        padding: 25px 45px;
    }
    .sidebar a:hover{
        background-color: #000;
    }
    .sidebar a.active{
        background-color: #000;
        border-right: solid 4px orangered;
    }
    
    .content{
        padding: 15px;
    }
    .card-data{
        border: solid 1px;
        color: #fff;
        padding: 20px 40px;
        border-radius: 5px;
    }
    .card-data.book{
        background-color:rgb(255, 136, 0);
    }
    .card-data{
        font-size: 50px;
        box-shadow:5px 5px;
        color: #000;
    }
    .card-desc{
        font-size: 30px;
    }
    .card-count{
        font-size: 30px;
    }
    .card-data.category{
        background-color:rgb(255, 136, 0);
    }
    .card-data.user{
        background-color:rgb(255, 136, 0);
    }
    .navbar-brand{
        font-family: 'Righteous', cursive;
        color: white ;
    }

    .navbar :hover{
        color: rgb(0, 0, 0);
    }